.container {
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 600px) {
  .container {
    padding-top: 170px;
  }
}

// ProductsWrapper
.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.products {
  display: flex;
  //   justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.filters {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 913px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .products {
    padding-top: 20px;
    justify-content: center;
  }
}
