.container {
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 600px) {
  .container {
    padding-top: 170px;
  }
}

// ProductsWrapper
.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.products {
  display: flex;
  //   justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.filters {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filters_modal {
  display: none;
}
@media (max-width: 913px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .products {
    padding-top: 20px;
    justify-content: center;
  }
  .filters {
    flex-direction: row;
    align-items: center;
  }
  .filters_inHamburger {
    display: none;
  }
  .filters_modal {
    display: block;
  }
}
.filter_modal {
  width: 100vw;
  max-width: 80%;
  margin-left: 0;
  margin-top: 0;
  z-index: 2000;
}
.filter_modal_content {
  min-height: 100vh;
}
