.about {
  max-width: var(--max_width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 60px;
}
@media (max-width: 1200px) {
  .about {
    max-width: 100vw;
  }
}

// Product info
.product_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_title {
  font-size: 32px;
  font-weight: 500;
}
.product_price {
  font-size: 32px;
  font-weight: 600;
}
.price_block {
  display: flex;
  align-items: center;
  gap: 50px;
  // justify-content: space-between;
}

@media (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
